<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navBar.ejs') %>
  <div class="container mt-5">
    <h1 class="mb-4"> Lista de Proveedores</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregar" style="margin-top: 5px; margin-bottom: 10px;">+ Agregar Nuevo</button>
    <div class="mb-3">
      <label for="busqueda" class="form-label">Buscar Provedor</label>
      <!-- Buscador, llamando metodo buscarProoverdor -->
      <input type="text" class="form-control" id="busqueda" onkeyup="buscarProveedor()" placeholder="Ingrese Caracteres">
  </div>      
    <table class="table table-bordered table-striped">
      <thead class="thead.dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% resul.forEach(item=> { %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.nombre %></td>
            <td><%= item.direccion %></td>
            <td><%= item.telefono %></td>
            <td><%= item.correo %></td>
            <td>
              <button type="button" class="btn btn-warning btn-sm edit" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar</button>
              <button type="button" class="btn btn-danger btn-sm edit" data-bs-toggle="modal" data-bs-target="#modalEliminar">Eliminar</button>
            </td>
          </tr>

<!-- Modal de agregar -->
    <div class="modal fade" id="modalAgregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Agregar Proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form-agregar" action="/crearProveedor" method="post">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" required>
              </div>
              <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" required>
              </div>
              <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="form-agregar">Agregar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Metodo de agregar-->
    <script>
      document.getElementById('form-agregar').addEventListener('submit', function (event) {
        event.preventDefault();


        var nombre = document.getElementById('nombre').value;
        var direccion = document.getElementById('direccion').value;
        var telefono = document.getElementById('telefono').value;
        var correo = document.getElementById('correo').value;

        fetch('/crearProveedor', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            nombre: nombre,
            direccion: direccion,
            telefono: telefono,
            correo: correo
          })
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            alert(data.message);
            document.getElementById('modalAgregar').classList.remove('show');
            document.getElementById('form-agregar').reset();
            window.location.href = '/proveedor';
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
    </script>


    <!-- Modal de modificar -->
    <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Editar Proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form-editar">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" required>
              </div>
              <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" required>
              </div>
              <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal de eliminar -->
    <div class="modal fade" id="modalEliminar<%= item.id %>"
      data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"
              id="staticBackdropLabel<%= item.id %>">Eliminar
              Provedor</h5>
            <button type="button" class="btn-close"
              data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Esta seguro de eliminar este provedor?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <form id="form-eliminar"
              action="/proveedor/eliminar/<%= item.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit"
                class="btn btn-primary">Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Metodo eliminar provedor -->
    <script>
      document.getElementById('eliminar-form').addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent default form submission behavior
        const id = document.getElementById('id').value;
        fetch('/proveedor/eliminar/<%= item.id %>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then((response) => response.json())
          .then((data) => {
            alert('Provedor eliminado');
            location.reload(); // Reload the page
          })
          .catch((error) => {
            console.error(error);
          });
      });
    </script>

    <% }) %>
  </tbody>
</table>
    </div>
  </div>
  <br>
  <br>
  <%- include('partials/footer.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

   <!-- Metodo buscarProveedor -->
<script>
  function buscarProveedor() {
      var input = document.getElementById("busqueda");
      var filtro = input.value.toUpperCase();
      var tabla = document.querySelector(".table-bordered");
      var filas = tabla.getElementsByTagName("tr");
      for (var i = 1; i < filas.length; i++) { 
          var mostrarFila = false;

          for (var j = 0; j < filas[i].cells.length - 1; j++) {
              var celda = filas[i].cells[j];
              if (celda) {
                  var textoCelda = celda.textContent || celda.innerText;
                  if (textoCelda.toUpperCase().indexOf(filtro) > -1) {
                      mostrarFila = true;
                  }
              }
          }
          if (mostrarFila) {
              filas[i].style.display = "";
          } else {
              filas[i].style.display = "none";
          }
      }
  }
</script>

 <!-- Metodo de eliminar-->
 



</body>
</html>